<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <style>
    .add{
      padding: 2%;
      margin-bottom: 2%;
      color: #a5a58d;
      border-style: solid;
      border-color: #a5a58d;
    }
    .add:hover{
      background-color: #a5a58d;
    }
  </style>
</head>
<body style="background: #897766">
<section class="vh-100 gradient-custom">
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
<div class="card text-white" style="border-radius: 1rem; background-color: #4f483f; ">
  <div class="card-body p-5 text-center">
    <div class="mb-md-5 mt-md-4 pb-5">
<form th:action="@{/admin/saveBook}" th:object="${book}" method="post">
  <div class="mb-3 mt-3">
    <label for="primaryTitle" class="form-label">Title:</label>
    <input type="text" class="form-control" id="primaryTitle" placeholder="Enter primary title" name="primaryTitle" th:field="*{primaryTitle}">
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" th:field="*{title}">
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author:</label>
    <input type="text" class="form-control" id="author" placeholder="Enter Author" name="author" th:field="*{author}">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">price:</label>
    <input type="number" class="form-control" id="price" placeholder="Enter price" name="price" th:field="*{price}">
  </div>
  <div class="mb-3">
    <label for="booksInStock" class="form-label">books In Stock:</label>
    <input type="number" class="form-control" id="booksInStock" placeholder="Enter booksInStock" name="booksInStock" th:field="*{inStock}">
  </div>
  <div class="mb-3">
    <label for="year" class="form-label">year:</label>
    <input type="number" class="form-control" id="year" placeholder="Enter year" name="year" th:field="*{yearOfRelease}">
  </div>
  <div class="mb-3">
    <label for="img" class="form-label">Image:</label>
    <input type="text" class="form-control" id="img" placeholder="Enter Url" name="img" th:field="*{imgUrl}">
  </div>
  <div class="mb-3">
    <label for="language" class="form-label">language:</label>
    <select name="language" id="language" class="form-select" th:field="*{languageList}">
      <option th:each="option : ${languageOptions}" th:value="${option.id}" th:text="${option.getName}" id="languageOptions"></option>
    </select>
  </div>
  <div class="mb-3">
    <label for="genre" class="form-label">genre:</label>
    <select name="genre" id="genre" class="form-select" th:field="*{genreList}">
      <option th:each="option : ${genreOptions}" th:value="${option.getId()}" th:text="${option.getName}" id="genreOptions"></option>
    </select>
  </div>
  <div class="mb-3">
    <label for="state" class="form-label">state:</label>
    <select name="state" id="state" class="form-select" th:field="*{state}">
      <option th:each="option : ${stateOptions}" th:value="${option.id}" th:text="${option.getName}" id="states"></option>
    </select>
  </div>
  <button type="submit" class="btn add">Submit</button>
</form>
</div>
  </div>
</div>
    </div>
    </div>
</div>
</section>
</body>
</html>