<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">BookShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/addRemoveBook}">Add/remove Books</a>
                </li>
            </ul>

        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-outline-danger" th:href="@{/logout}" role="button">Logout</a>
        </div>
    </div>
</nav>
<h1 class="display-1" style="margin: 2%">Users management</h1>

<table class="table" style="margin: 2%">
    <thead>
    <tr class="table-info">
        <th>Name</th>
        <th>Surname</th>
        <th>username</th>
        <th>email</th>
        <th>role</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${user}">
        <form th:action="@{/admin/updateUser}" method="get">
            <td class="table-info">
                <input type="text" name="name" th:value="*{user.getName()}"></td>
            <td class="table-info">
                <input type="text" name="surname" th:value="*{user.getSurname()}">
            </td>
            <td class="table-info">
                <input type="text" name="username" th:value="*{user.getUsername()}">
            </td>
            <td class="table-info">
                <input type="text" name="email" th:value="*{user.getEmail()}"></td>
            <td class="table-info" th:text="*{user.getPrivilege().getName()}"></td>
            <td class="table-info">
                <input type="hidden" name="userId" th:value="*{user.getId()}">
                <input type="hidden" name="userRoleId" th:value="*{user.getPrivilege().id}">
                <input type="submit" value="Update" class="btn btn-success">
            </td>
        </form>
    </tr>
    </tbody>
</table>
<div class="d-grid gap-2 col-6 mx-auto">
    <a type="button" class="btn btn-success" th:href="@{/admin/addUser}" style="margin-right: 40%; margin-left: 40%">Add
        User</a>
</div>
</body>
</html>