<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        .login{
            color: #a5a58d;
            border-style: solid;
            border-color: #a5a58d;
        }
        .login:hover{
            background-color: #a5a58d;
        }
    </style>
</head>
<body style="background: #897766">
<section class="vh-100 gradient-custom">
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card text-white" style="border-radius: 1rem; background-color: #4f483f">
                <div class="card-body p-5 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">
<!--                        <section class="h-100 gradient-form">-->
                            <form th:action="@{/login}" method="post">
                                <p>Please login to your account</p>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="username">Username: </label>
                                    <input type="text" id="username" class="form-control form-control-lg"
                                           placeholder="Enter Your Username" name="username" required/>
                                </div>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="password">Password: </label>
                                    <input type="password" id="password" class="form-control form-control-lg"
                                           name="password" placeholder="Enter Password" required/>
                                </div>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>

                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button class="btn login btn-block fa-lg gradient-custom-2 mb-3"
                                            type="submit">
                                        Login
                                    </button>
                                </div>

                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2">Don't have an account ?</p>
                                    <div>
                                        <a th:href="@{/register}" class="btn login btn-link" style="border-color: #4f483f">Register</a>
                                    </div>
                                </div>

                                        <div th:if="${param.error}" class="alert alert-danger">
                                            Invalid username or password.
                                        </div>
                                        <div th:if="${param.logout}" class="alert alert-danger">
                                            You have been logged out.
                                        </div>
                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>